<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Tareas automáticas SuperComics</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
  </head>
  <body>
	<div id="navbar" class="navbar navbar-default" role="navigation">
		<div class="container" id="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/tasks/">Tareas automáticas SuperComics</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				 <li><a href="/tasks"><span class="glyphicon glyphicon-refresh"></span> Actualizar</a></li>
				<li><a href="#" data-toggle="modal" data-target="#nuevo"><span class="glyphicon glyphicon-plus"></span> Nueva tarea</a></li>
			  </ul>
			</div>
        </div>
        
	</div>
	<div class="container">
		
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <div class="alert alert-danger">{{ message }}</div>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
			
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Tareas (Solo se muestran las últimas 20)</div>

		  <!-- Table -->
		  <table class="table">
			<tr>
				<th>#</th><th>Fecha Inicio</th><th>Tipo</th><th>Modo</th><th>Estado</th><th>Log</th><th>CSV</th><th>Borrar</th>
			</tr>
			{%- for task in tasks %}
				<tr>
					<td>{{ task['id_task'] }}</td><td>{{ task['start_date'] }}</td>
					<td>{{type_tasks[task['type_task']]}}</td>
					<td>{{"Actualizaciones" if task['mode'] == 1 else "Completo"}}</td>
					<td style="color:{{'#31708f' if task['state'] == 0 else '#8a6d3b' if task['state'] == 1 else '#a94442' if task['state'] == 2 else '#3c763d'}}">
						{{"En espera" if task['state'] == 0 else "Procesando" if task['state'] == 1 else "Con errores" if task['state'] == 2 else "Finalizada"}}
					</td>
					<td>
						{%- if task['state'] > 0 %}
							<a href="/log/{{ task['id_task'] }}" target="_blank" ><span class="glyphicon glyphicon-list-alt"></span></a></td>
						{%- endif %}
					<td>
						{%- if task['state'] == 3 %}
							<a href="/csv/{{ task['id_task'] }}" ><span class="glyphicon glyphicon-download-alt"></span></a></td>
						{%- endif %}
					<td>
						{%- if task['state'] == 0 %}
						<a href="/remove/{{ task['id_task'] }}"><span class="glyphicon glyphicon-remove"></span></a>
						{%- endif %}
					</td>
				</tr>
			{%- endfor %}
		  </table>
		</div>
	</div>
	
	
	<div class="modal fade" id="nuevo" tabindex="-1" role="dialog" aria-labelledby="nuevo-model-label" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="nuevo-model-label">Nueva tarea</h4>
		  </div>
		  <div class="modal-body">
			  <div class="well bs-component">
              <form id="form" class="form-horizontal" method="POST">
                <fieldset>
                  <div class="form-group">
                    <label for="start_date" class="col-lg-2 control-label">Fecha Inicio</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="start_date" name="start_date" placeholder="Fecha Inicio"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="mode" class="col-lg-2 control-label">Tipo</label>
                    <div class="col-lg-10">
                      <select name="type_task" id="type_task" class="form-control">
						  {%- for type_task in type_tasks %}
							<option value="{{ type_task['id_type_task'] }}">{{ type_task }}</option>
						  {%- endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="mode" class="col-lg-2 control-label">Completo</label>
                    <div class="col-lg-10">
                      <input type="checkbox" class="form-control" id="mode" name="mode" />
                    </div>
                  </div>
                </fieldset>
              </form>
		  </div>
		  <div class="modal-footer">
			<span id="resultado"></span>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary" id="send_contact">Crear</button>
		  </div>
		</div>
	  </div>
	</div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/static/main.js"></script>
  </body>
</html>
